<h4>Список специалистов:</h4><p><a href="/employees/new">new</a> 
<% @employees.each do |employee| %>
							<!--/Team Member -->	

							<div class="col-lg-3 col-md-3 col-sm-6"> 
								
																<!-- Team Member -->
								<div class="team-member" style="opacity: 1;">
								
									
									<%= image_tag employee.avatar.medium.url   %>
									 
									
									<div class="team-member-info">

										<h4><%= employee.name %></h4>
										 
										<div class="job"><%= employee.spec.html_safe %>
											
										</div>
										 
										<div class="team-member-more">
											<%= employee.prof.html_safe %>
											<%= link_to 'Редактировать', edit_employee_path(employee) %>
											<!-- <div class="social-media">
												<span class="small-caption">Get connected:</span>
												 
											</div> -->
										</div>
										
									</div>
									
								</div>
								<!-- /Team Member -->	
							</div>							
							
<p>
	<%= link_to 'Показать', employee_path(employee) %> |
	<%= link_to 'Редактировать', edit_employee_path(employee) %> |
	<%= link_to 'Удалить', employee_path(employee), method: :delete, data: { confirm: 'Вы уверены?'} %>
</p>

</div>
<hr>
<% end %> 