<h4>Список специалистов: <a href="/employees/new">добавить нового</a> </h4>
<% @employees.each do |employee| %>
<!-- Team Member -->	

							<div class="col-lg-3 col-md-3 col-sm-6 "> 
								
																 
								<div class="team-member" style="opacity: 1;">
								
									<!-- <img class="team-member-image" src="img/team/4.jpg" alt=""> -->
									<%= image_tag employee.avatar.medium.url, :class => "team-member-image hidden-xs hidden-sm"    %>
									<%= image_tag employee.avatar.big.url, :class => "team-member-image hidden-md hidden-lg"    %>
									
									 
									
									<div class="team-member-info">
										 

										<div class="first">
											<%= employee.first %>
										</div>

										<div class="second">
											<%= employee.second %> <%= employee.third %>
										</div>
										 
										<div class="job">
										<i><%= employee.spec.html_safe %></i>
										</div>
										  
										<div class="team-member-more">
											<%= employee.prof.html_safe %>
										</div>

										<div class="ui_more">
											<button type="button" class="btn btn-default btn-xs buttonstyle">
											<i class="fa fa-share" aria-hidden="true"></i> <%= link_to 'Подробнее', employee_path(employee) %>
											</button><br />

											<button type="button" class="btn btn-default btn-xs buttonstyle"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <%= link_to 'Редактировать', edit_employee_path(employee) %>
											</button> <br />

											<!-- <a class="btn btn-danger" href="#">
  										<i class="fa fa-trash-o fa-lg"></i> Удалить</a> -->

											<button type="button" class="btn btn-default btn-xs buttonstyle"><i class="fa fa-trash-o" aria-hidden="true"></i> <%= link_to 'Удалить', employee_path(employee), method: :delete, data: { confirm: 'Вы уверены?'} %>
											</button>
										</div>	 
										
										
									</div>
									
								</div>
								<!-- /Team Member -->							
							</div>							
							

<!--  <div>

<%= image_tag employee.avatar.medium.url    %>
 
	<h2><%= employee.name %></h2>
	<p><%= employee.prof %></p>
</div>
<div>
<p>
	<%= link_to 'Показать', employee_path(employee) %> |
	<%= link_to 'Редактировать', edit_employee_path(employee) %> |
	<%= link_to 'Удалить', employee_path(employee), method: :delete, data: { confirm: 'Вы уверены?'} %>

	


</p>
</div>
<hr>-->
<% end %> 