<h1>Статьи</h1>

<%= form_for :article, url: articles_path do |f| %>
	
	<% if @article && @article.errors.any? %>
		<p>
        <ul>
				<% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>  
        </ul>
		</p>
	<% end %>
  <p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :text %><br />
		<%= f.text_area :text, id: "froala-editor"  %><br />
	</p>

	<p>
		<%= f.submit 'отправить' %>
	</p>
<% end %>

<script>
  $(function() {
    $('textarea#froala-editor').froalaEditor({
    	language: 'ru',
    	theme: 'gray',
    	zIndex: 2001,
    	placeholderText: 'содержимое статьи...',
    	tabSpaces: 4,
    	 pluginsEnabled: ['image', 'imageManager', 'insertImage' ],
    	 imageAllowedTypes: ['jpeg', 'jpg', 'png'],
    	  imageAltButtons: ['imageBack'],
    	  imageDefaultAlign: 'left',
    	  imageDefaultWidth: 200,
    	  imageDefaultDisplay: 'inline',
    	 heightMin: 400,
    	 imageManagerDeleteMethod: 'DELETE',
      
       

      toolbarButtons: ['undo', 'redo' , '|', 'align',  'bold', 'italic', 'underline','formatOL', 'formatUL', 'outdent', 'indent', '|','imageManager', 'insertImage' ],
      toolbarButtonsMD: ['undo', 'redo' , '|', 'align',  'bold', 'italic', 'underline','formatOL', 'formatUL', 'outdent', 'indent','image', 'imageManager', 'insertImage'],
      toolbarButtonsSM: ['undo', 'redo' , '|', 'align',  'bold', 'italic', 'underline', 'outdent', 'indent','formatOL', 'formatUL','imageManager', 'insertImage'],
      toolbarButtonsXS: ['undo', 'redo' , '|', 'align',  'bold', 'italic', 'underline', 'outdent', 'indent','formatOL', 'formatUL'],
        

	}
	
		
	

    )
  });
</script>